@media only screen and (min-width : 10px) and (max-width : 700px) {
    .start__container p {
        width: 450px;
        font-family: "Gilroy-UltraLight", serif;
        font-weight: 300;
        font-size: 22px;
        margin: 10px 0 3% 0;
        line-height: 33px;
        color: rgba(255, 255, 255, .8);
        text-align: left;
        max-width: 100%;
    }

    .start__container h3 {
        font-size: 23px;
        text-align: left;
    }

    .start__container ul {
        padding: 0 26px;
    }

    .try h2 {
        font-size: 35px;
    }

    .menu .swiper {
        width: 98%;
    }

    .swiper-image {
        display: none;
    }

    .menu .swiper-slide {
        flex-direction: column;
    }

    .find-us-ul {
        margin: 20px 0 0 0;
    }

    
.footer * {
    margin: 0;
    padding: 0;
}

    .footer ul {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer ul li {
        margin: 2px 30px;
    }

    .footer-hr {
        display: none;
    }

    #startRow {
        display: none;
    }

    header h1 {
        font-size: 30px;
    }
}